ipywidgets==7.6.3
ephem==3.7.7.1
pystan==2.19.1.1
fbprophet==0.7.1
urllib3==1.26.4
plotly==4.14.3
pandas==1.2.4
numpy==1.19.5
ipykernel==5.5.5
ipython==7.23.1
matplotlib==3.4.2
cufflinks==0.17.3
chart-studio==1.1.0
json5==0.9.5
